.banner {
  padding: 1.5rem 3rem;
  text-align: center;
  color: var(--white);
  min-height: 100vh;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-size: 24px;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.heading span {
  color: var(--accent);
}

.subheading {
  font-size: 14px;
  font-style: italic;
}

.logo {
  margin: 1.5rem auto;
}

.footer {
  font-size: 18px;
  font-weight: bold;
}

.footer span {
  color: var(--accent);
}
